<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commission</key>
	<string>股票佣金，是投资者在委托买卖股票成交后按成交金额一定比例支付的费用，此项费用由证券公司经纪佣金、证券交易所手续费及证券交易监管费等组成。《关于调整证券交易佣金收取标准的通知》规定，从2002年5月1日开始，证券公司向客户收取的佣金不得高于证券交易金额的3‰，A股、证券投资基金每笔交易佣金不足5元的，按5元收取。
</string>
	<key>stamp</key>
	<string>股票交易印花税，是从普通印花税发展而来的，是专门针对股票交易发生额征收的一种税。我国税法规定，对证券市场上买卖、继承、赠与所确立的股权转让依据，按确立时实际市场价格计算的金额征收印花税。目前我国股票交易印花税征收方式，对买卖、继承、赠与所书立的A股、B股股权转让书据的出让按千分之一的税率征收证券（股票）交易印花税，对受让方不再征税，即卖出股票才收取股票总额千分之一的印花税。

</string>
	<key>transfer</key>
	<string>过户费是指委托买卖的股票、基金成交后买卖双为变更股权登记所支付的费用。这笔收入属于证券登记清算机构的收入，由证券经营机构在同投资者清算交割时代为扣收。为进一步降低投资者交易成本，经研究，中国证券登记结算有限责任公司于2015年8月1日起，调整沪深市场A股交易过户费的收费标准。A股交易过户费由沪市按照成交面值0.3‰、深市按照成交金额0.0255‰向买卖双方投资者分别收取，统一调整为按照成交金额0.02‰向买卖双方投资者分别收取。交易过户费为中国结算收费，证券经营机构不予留存。 

</string>
</dict>
</plist>
